# Environment variables - NEVER upload these
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Zip files
*.zip

# VS Code
.vscode/

# OS files
.DS_Store
desktop.ini
Thumbs.db

LangGraph-Documentation.md